/* style.css */
:root {
    --couleur-texte: #fff703;
}
body {
    font-family: Arial, sans-serif;
    background-color: blue;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--couleur-texte);
    text-align: center;
    padding: 20px;
}

h6 {
    color: var(--couleur-texte);
    text-align: center;
    margin-top: -10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: var(--couleur-texte);
}

a:hover {
    text-decoration: underline;
}

#passwordForm {
    text-align: center;
    margin: 20px;
}

#passwordForm input {
    padding: 10px;
    margin-right: 10px;
}
